* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    width: 1000px;
    height: 499px;
    border: solid 2px   red;
}

.box {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: darkorange;
}


#sekundomers {
    width: 314px;
    height: 86px;
    margin: 100px auto;
    background: #fbefef;
    color: #2c2a2a;
    border-radius: 10px;
    padding: 60px 50px 100px;
    text-align: center;
    font-size: 28px;
}

#sekundomers span {
    background: #40709f;
    color: #ffeffb;
    padding: 10px;
    width: 60px;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
}
.time{

    margin-left: -25px;
}
#sekundomers span{
    margin-left: 20px;
}
#sekundomers button:first-of-type {
    margin-top: 15px;
}
#sekundomers button {
    font-size: 22px;
    -webkit-appearance: none;
    border: none;
    background-color: #2e80b3;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    transition: .3s;
}
#sekundomers button:last-child {
    background-color: #8538a1;
}
#sekundomers button:hover {
    background: #2763cf;
    color: #f1ecec;
    cursor: pointer;
}